html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}
body {;
    font-size: 14px;
}
.container { 
    width: 1170px;
    margin: 0 auto;
}
.clearfix::after {
    display: table;
    content: "";
    clear: both;
}
.sate-name {
    font-family: "Roboto";
    font-size: 30px;
    font-weight: 900;
    color: #515151;
    text-transform: uppercase;
    float: left;
}
.sate-navigation {
    width: 472px;
    margin: 0;
    list-style: none;
    float: right;
    text-transform: uppercase;
    padding: 40px 0;
}
.sate-navigation li {
    float: left;
}
.sate-navigation li:not(:last-child) {
    margin-right: 28px;
}
.sate-navigation a {
    display: block;
    text-decoration:none;
    color:#515151;
    font-weight: 700;
    font-family: "Open Sans";
    font-size: 14px;
}
.sate-name::first-letter {
    color: #1abc9c;
}
.section-title {
    font-size: 48px;
    font-family: "Roboto";
    text-align: center;
    margin-bottom: 96px;
}
h1::after {
    display: block;
    content: "";
    width: 160px;
    height: 6px;
    background: #1abc9c;
    margin: 0 auto;
    margin-top: 28px;
}
.gallery {
    list-style: none;
    
}
.gallery li {
    float: left;
    margin-right: 35px;
}
.gallery li:nth-child(4n) {
    margin-right: 0px;
}
.gallery li:nth-child(-n+4) {
    margin-bottom: 32px;
}
.foto-name {
    background: #323232;
    color: #ffffff;
    width: 200px;
    height: 38px;
    padding: 10px;
    margin: 0;
    font-size: 18px;
    font-family: "Roboto";
    text-transform: uppercase;
    display: ;
    float: left;
}
.size {
 background: #868080;
 color: #ffffff;
 height: 38px;
 width: 56px;
 font-size: 18px;
 font-family: "Roboto"; 
 display: ; 
 text-align: center; 
 padding: 10px;
 float: left;
 margin: 0;
}
.title-news {
    font-family: "Roboto";
    font-size: 48px;
    color: #555252;
    text-align: center;
    margin-bottom: 80px;
}
h2::after {
    display: block;
    content: "";
    width: 160px;
    height: 6px;
    background: #1abc9c;
    margin: 28px auto 0;
}
.news-list li{
    float: left;
    margin:0 40px 0 0;
}
.news-list {
    list-style: none;
   
}
.news-list li:nth-child(3n) {
    margin-right: 0px;
}
.name-news {
    width: 325px;
    height: 54px;
    font-family: "Open Sans";
    color: #555252;
    font-size: 18px;
    font-weight: 600;
}
.name-news::after {
    display: block;
    content: "";
    background: #1abc9c;
    width: 132px;
    height: 2px;
    margin-top: 14px;
}
.news-description {
    width: 350px;
}

