body {
    font-family: "Playfair Display";
    color: #626262;
    font-size: 14px;
    line-height: 24px;
}

.photo-description {
    font-family: "Ubuntu";
    color: #b4ad9e;
}
.sate-navigation a {
    color: #626262;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 24px;
    text-align: center;
}
.sate-navigation {
    list-style: none;
}
.list {
    list-style: none;   
}
.list h2 {
    font-size: 30px;
}
button {
   border: none; 
   background-color: #fff;
   cursor: pointer;
   color: #626262;
   
}